<h1>Top Gainers</h1>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>stakPro V2</title>
  </head>
  <body>
    <div id="gainer">


    </div>
    <script type="text/javascript">
        setInterval(() => {
          fetch('/get_gainers').then(() => {
            console.log("I am live!!!");
          });
        }, 3000);
    </script>
  </body>
</html>
